



<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <img src="../../../assets/profilePhoto.JPG" class="img-fluid" id = "fotoperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <P id = "nombre">{{persona.nombre}} {{persona.apellido}}</P>
        <p>Fullstack Junior</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>
            ACERCA DE MI
        </h1>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Numquam, consectetur perferendis, minima nisi laudantium 
            vitae nesciunt, voluptates perspiciatis molestiae alias c
            onsequatur quaerat quasi. Cumque tempora dolores cupiditate 
            fugiat laboriosam eos!
        </P>
    </div>

</div>

