

<div class="row">

    <h1>Hard and Soft Skills</h1>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="20"
    [radius]="150"
    [title]="'HTML'"
    [titleFontSize]="'40px'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="500"
></circle-progress>
    </div>


     <div class="text-center col-sm-4 col-md-4 col-lg-4">

    <circle-progress
    [percent]="20"
    [radius]="150"
    [title]="'CSS'"
    [titleFontSize]="'40px'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="500"
></circle-progress>

    </div>


     <div class="text-center col-sm-4 col-md-4 col-lg-4">

    <circle-progress
    [percent]="20"
    [radius]="150"
    [title]="'JS'"
    [titleFontSize]="'40px'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="500"
></circle-progress>
    </div>


     <div class="text-center col-sm-4 col-md-4 col-lg-4">

    <circle-progress
    [percent]="20"
    [radius]="150"
    [title]="'Github'"
    [titleFontSize]="'40px'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="500"
></circle-progress>

    </div>


     <div class="text-center col-sm-4 col-md-4 col-lg-4">

    <circle-progress
    [percent]="20"
    [radius]="150"
    [title]="'Ingles'"
    [titleFontSize]="'40px'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="500"
></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="20"
        [radius]="150"
        [title]="'Colaborative'"
        [titleFontSize]="'40px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="500"
    ></circle-progress>
    
    </div>




</div>